In [28]:
import pandas as pd
import numpy as np

In [29]:
df = pd.read_csv('result - 副本.csv')
df

,2020/1/24,2020/1/25,2020/1/26,2020/1/27,2020/1/28,2020/1/29,2020/1/30,2020/1/31,2020/2/1,2020/2/2,...,2022/5/22,2022/5/23,2022/5/24,2022/5/25,2022/5/26,2022/5/27,2022/5/28,2022/5/29,2022/5/30,2022/5/31
0,142,142,142,142,142,142,142,142,169,192,...,19281,19281,19281,19281,19281,19281,19281,19281,19281,19281
1,62,82,96,125,145,159,193,221,259,283,...,8017,8017,8017,8017,8017,8017,8017,8017,8017,8017
2,63,66,80,89,101,97,108,125,138,157,...,58381,58384,58394,58400,58404,58413,58400,58404,58413,58415
3,33,37,39,40,45,45,47,56,66,70,...,1485,1485,1485,1485,1485,1485,1485,1485,1485,1485
4,1,4,5,7,9,10,11,11,12,13,...,1048,1048,1048,1048,1048,1048,1048,1048,1048,1048
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,2020/1/24,2020/1/25,2020/1/26,2020/1/27,2020/1/28,2020/1/29,2020/1/30,2020/1/31,2020/2/1,2020/2/2,...,2022/5/22,2022/5/23,2022/5/24,2022/5/25,2022/5/26,2022/5/27,2022/5/28,2022/5/29,2022/5/30,2022/5/31
302,16.4115,23.409,41.9805,59.733,78.552,100.458,124.2,147.9015,168.804,191.3355,...,113.94738,99.58722,86.83572,75.18942,67.1838,61.75428,57.17184,49.95414,43.986,39.49632
303,34.77783,53.67444,75.82797,109.88868,149.3751,204.04803,255.04323,295.01022,342.60906,380.223,...,608.556,572.57799,539.86188,511.94151,509.25729,490.93836,478.71246,467.25099,435.0279,419.52267
304,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
305,1489,1814,2359,3025,4695,6050,7698,9546,11527,14014,...,218079,218094,218130,218184,218202,218217,218184,218202,218217,218228

In [33]:
df = np.array(df)

float(df[303][0])

34.77783

In [31]:
for i in range(301):
    for j in range(859):
        df[i][j] = float(df[i][j]) / float(df[305][j])
float(df[0][0])

0.09536601746138348

In [34]:
for i in range(301):
    for j in range(859):
        df[i][j] = float(df[i][j]) * float(df[303][j])
df
data1 = pd.DataFrame(df)
data1.to_csv('re2.csv')